<?xml version="1.0" encoding="UTF-8"?>

<!--dev 표시용, dev를 이용하시려면 prod 표시용 위에 주석을 풀어주시고, prod 표시용 아래 코드를 주석처리 해주세요!-->

<Configuration status="INFO">
    <Properties>
        <Property name="logFileName">spring-log4j2</Property>
        <Property name="consoleLayout">%style{%d{ISO8601}}{green} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable</Property>
        <Property name="fileLayout">%d [%t] %-5level %c(%M:%L) - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}" />
        </Console>

        <RollingFile name="file" fileName="logs-dev/${logFileName}.log" filePattern="logs-dev/${logFileName}.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${fileLayout}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" /><!-- 일자별 로그 파일 생성-->
            </Policies>
        </RollingFile>

        <JDBC name="dbLogger" tableName="Log">
            <ConnectionFactory class="com.mjuAppSW.joA.storage.ConnectionFactoryDev" method="getDatabaseConnection"/>
            <Column name="log_id" pattern="%u" />
            <Column name="entry_date" isEventTimestamp="true" />
            <Column name="logger" pattern="%logger" />
            <Column name="log_level" pattern="%level" />
            <Column name="message" pattern="%m" />
            <Column name="exception" pattern="%throwable " />
        </JDBC>
    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>

        <logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </logger>

        <logger name="com.mjuAppSW" level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
            <AppenderRef ref="dbLogger"/>
        </logger>
    </Loggers>
</Configuration>

<!--prod 표시용-->

<!--<Configuration status="INFO">-->
<!--    <Properties>-->
<!--        <Property name="logFileName">spring-log4j2</Property>-->
<!--        <Property name="consoleLayout">%style{%d{ISO8601}}{green} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable</Property>-->
<!--        <Property name="fileLayout">%d [%t] %-5level %c(%M:%L) - %m%n</Property>-->
<!--    </Properties>-->

<!--    <Appenders>-->
<!--        <Console name="console" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="${consoleLayout}" />-->
<!--        </Console>-->

<!--        <RollingFile name="file" fileName="logs-prod/${logFileName}.log" filePattern="logs-prod/${logFileName}.%d{yyyy-MM-dd}.log">-->
<!--            <PatternLayout pattern="${fileLayout}" />-->
<!--            <Policies>-->
<!--                <TimeBasedTriggeringPolicy interval="1" />&lt;!&ndash; 일자별 로그 파일 생성&ndash;&gt;-->
<!--            </Policies>-->
<!--        </RollingFile>-->

<!--        <JDBC name="dbLogger" tableName="Log">-->
<!--            <ConnectionFactory class="com.mjuAppSW.joA.storage.ConnectionFactoryProd" method="getDatabaseConnection"/>-->
<!--            <Column name="log_id" pattern="%u" />-->
<!--            <Column name="entry_date" isEventTimestamp="true" />-->
<!--            <Column name="logger" pattern="%logger" />-->
<!--            <Column name="log_level" pattern="%level" />-->
<!--            <Column name="message" pattern="%m" />-->
<!--            <Column name="exception" pattern="%throwable " />-->
<!--        </JDBC>-->

<!--    </Appenders>-->

<!--    <Loggers>-->
<!--        <Root level="info" additivity="false">-->
<!--            <AppenderRef ref="console"/>-->
<!--            <AppenderRef ref="file"/>-->
<!--        </Root>-->

<!--        <logger name="org.springframework" level="info" additivity="false">-->
<!--            <AppenderRef ref="console"/>-->
<!--            <AppenderRef ref="file"/>-->
<!--        </logger>-->

<!--        <logger name="com.mjuAppSW" level="info" additivity="false">-->
<!--            <AppenderRef ref="console"/>-->
<!--            <AppenderRef ref="file"/>-->
<!--            <AppenderRef ref="dbLogger"/>-->
<!--        </logger>-->
<!--    </Loggers>-->
<!--</Configuration>-->